.flex {
    display: flex;
}

li {
    list-style: none;
}

.h2-custom:before,
.h2-custom:after {
    content: '';
    display: inline-block;
    height: 70px;
    width: 100px;
    background-image: url(img/lis.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
}

.h2-custom:after {
    background-position: center;
}

.h2-properties:before,
.h2-properties:after {
    content: '';
    display: inline-block;
    height: 70px;
    width: 100px;
    background-image: url(img/www.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    background-position: center;
}

.h2-properties:after {
    background-position: center;
}



li:before {
    content: '';
    display: inline-block;
    height: 28px;
    width: 38px;
    background-image: url(img/lis.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
}

.header-text {}

.no-margin {
    margin: 0px !important;
}

.handle {
    position: relative;
    top: -40px;
    left: 30px;
}

.reveal ul li img {
    margin: 10px 0;
}

.w-110 {
    width: 110%;
}

img {
    height: auto !important;
}


.img-vocabulary {
    width: 80%;

}

.img-single-container {
    height: 350px;

}

.flex-space-around__children {
    width: 45%;
}

.h-90 {
    height: 90%;
}


pre,
code {
    white-space: pre-line;
}

.flex-space-between {
    justify-content: space-between;

}

.flex-space-around {
    justify-content: space-around;
}

.flex-direction-column {
    flex-direction: column;
    height: 330px;
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.cursive {
    font-family: 'Dancing Script', cursive !important;
}

.custom-hr {
    width: 70%;
    border: none;
    color: rgb(51, 9, 9);
    background-color: rgb(51, 9, 9);
    height: 2px;
}

.w-120 {
    width: 120%;
}

.font-smaller {
    font-size: 24px;
}

.slide-1-2-img {
    height: 250px;
}

.color-block-custom {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border-radius: 8px;
    box-shadow: 40px rgba(0, 0, 0, 0.5);
}

.color-block-custom-second {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 8px;
    box-shadow: 40px rgba(0, 0, 0, 0.5);
    padding: 20px 0px;
}

.color-block {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 5px;
    box-shadow: 40px rgba(0, 0, 0, 0.5);
}

.title-first-slide.color {
    font-size: 24px;
    margin-left: auto;
    width: 500px;
}

.custom-height {
    height: 300px;
}

.layout-problems {
    height: 130px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.flex-space-around .layout-problems {
    width: 220px;
}


.layout-problems-custom {
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] 100px [col2-start] 100px [col3-start] 100px [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.a {
    grid-column: col1-start / col3-start;
    grid-row: row1-start;
}

.b {
    grid-column: col3-start;
    grid-row: row1-start / row2-end;
}

.c {
    grid-column: col1-start;
    grid-row: row2-start;
}

.d {
    grid-column: col2-start;
    grid-row: row2-start;
}